.pageHeader{
    background-image: url("https://blanchardt.github.io/Group-Marvel-Mega-Fan-Lookup/assets/marvelComic1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 5%;
    color: white;
}

#pageTitle {
    font-weight: bolder;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 225%;
    display: flex;
    justify-content: left;
    background-color: rgb(199, 0, 0);
    width: fit-content;
}

#subHeader {
    font-weight: bolder;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 125%;
    display: flex;
    justify-content: left;
    background-color: rgb(199, 0, 0);
    width: fit-content;
}

.searchField {
    display: flex;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 4%;
    font-family: Verdana, Tahoma, sans-serif;
    width: 20%;
}

 input {
    font-family: Verdana, Tahoma, sans-serif;
    box-shadow: 2px 2px #888888;
 }   

 button {
    width: 15%;
    border-radius: 20%;
    font-family: Verdana, Tahoma, sans-serif;
    box-shadow: 2px 2px #888888;
 }

 #starBtn:hover {
    background-color: rgba(255, 230, 0, 0.859);
 }

 .active {
    background-color: rgba(255, 230, 0, 0.859);
}

 button:hover {
    background-color: rgba(134, 132, 132, 0.552);
}

.cardBody {
    font-family: Verdana, Tahoma, sans-serif;
}

#card-title {
    font-size: larger;
}

section{
    font-family: Verdana, Tahoma, sans-serif;
}

#starBtn {
    width: 4%;
    height: 8%;
    font-size: larger;
    border-radius: 60%;
}



  /* media adjustments */
  @media screen and (max-width: 992px) {
    .cardBody {
        min-width: 100%;
        max-width: 100%;
    }
  }
  @media screen and (max-width: 992px) {
    #accordion {
        min-width: 100%;
        max-width: 100%;
    }
  }


  @media screen and (max-width: 768px) {
    .cardBody {
        min-width: 100%;
        max-width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    #accordion {
        min-width: 100%;
        max-width: 100%;
    }
  }


  @media screen and (max-width: 576px) {
    .cardBody {
        min-width: 100%;
        max-width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    #accordion {
        min-width: 100%;
        max-width: 100%;
  } 
 }